body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f0f0;
  flex-direction: column;
  padding: 10px; 
}

.container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%; 
  max-width: 400px;
}

#chat-box {
  height: 80vh;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.user-message {
  justify-content: flex-end;
}

.user-message p {
  background-color: #0084ff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-break: break-all; 
}

.ai-message {
  justify-content: flex-start;
}

.ai-message p {
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-break: break-all;
}

#chat-form {
  display: flex;
  width: 90%;

  max-width: 400px;
}

input[name="prompt"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

button[type="submit"] {
  background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
  background-size: 200%;
  animation: gradientAnimation 10s linear infinite;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#loading-indicator {
  display: none;
  text-align: center;
  margin-top: 10px;
}

.fa-spinner {
  font-size: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* 미디어 쿼리를 사용하여 화면 크기에 따라 스타일 조정 */
@media (max-width: 768px) { 
  .container {
    width: 95%;
    max-width: 360px; 
    border-radius: 0; 
  }

  #chat-box {
    height: 70vh; 
    max-height: 350px; 
  }

  .user-message p, .ai-message p {
    max-width: 85%; 
  }

  input[name="prompt"] {
    font-size: 16px; 
  }
}
